.container {
	width: 90%;
	max-width: 1050px;
	margin: 0 auto;
	overflow: hidden;
}

.collage-area {
	width: 100%;
	height: 80%;
	background: url('../img/mount.png') repeat-x bottom, url('../img/desert_bw.jpg') no-repeat center;
	overflow-y: hidden;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.wrapper-dark {
	background: #040404;
	color: white;
}
