a:link, a:visited {
	color: blue;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: line-through;
	cursor: pointer;
}

.wrapper-dark {
	a:link, a:visited {
		color: #ddd;
		border-bottom: 1px solid #fff;
	}
	a:hover {
		color: #fff;
		text-decoration: none;
		border: 0;
	}
}
