.grid-one-third {
	lost-column: 3/3;
}

.grid-two-thirds {
	lost-column: 3/3;
}

@media screen and (min-width: 750px) {
	.grid-one-third {
		lost-column: 1/3;
		&.grid-move-one {
			lost-move: 1/3;
		}
		&.grid-move-two {
			lost-move: 2/3;
		}
	}
	.grid-two-thirds {
		lost-column: 2/3;
		&.grid-move-one {
			lost-move: 1/3;
		}
	}
}
