@import 'https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i';

body {
	font-family: Space Mono, monospace;
}

.title {
	span {
		display: block;
		margin-left: 80px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
}
